/* Calculator CSS */

td button{
	width: 65px;
	height: 65px;


}

#answer{
	background-color: lightgray;
	background: linear-gradient( 0deg, darkgray, gray 75%, lightgray );
	padding: 5px;
	box-shadow: inset 1px 2px 3px rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.3);
}
#answer p{
	padding-left: 10px;
	color: white;
}


.container-fluid{
  position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 278px;
     height: 411px;
     background-color: darkgray;
     padding: 8px;
     border-right: 2px solid #37474F;
     border-bottom: 2px solid #37474F;
     box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}